<form class="filters-form" autocomplete="off">
  <!-- Season Autocomplete -->
  <mat-form-field appearance="fill">
    <mat-label>Season</mat-label>
    <input type="text" matInput [formControl]="seasonControl" [matAutocomplete]="seasonAuto" [(ngModel)]="selectedSeason" name="season">
    <mat-autocomplete #seasonAuto="matAutocomplete">
      <mat-option *ngFor="let season of filteredSeasons" [value]="season">
        {{ season }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!-- Player Autocomplete -->
  <mat-form-field appearance="fill">
    <mat-label>Player Name</mat-label>
    <input type="text" matInput [matAutocomplete]="playerAuto" [(ngModel)]="selectedPlayer" name="player">
    <mat-autocomplete #playerAuto="matAutocomplete">
      <mat-option *ngFor="let player of filteredPlayers" [value]="player.fullName">
        {{ player.fullName }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <!-- Team Autocomplete -->
  <mat-form-field appearance="fill">
    <mat-label>Team Name</mat-label>
    <input type="text" matInput [matAutocomplete]="teamAuto" [(ngModel)]="selectedTeam" name="team">
    <mat-autocomplete #teamAuto="matAutocomplete">
      <mat-option *ngFor="let team of filteredTeams" [value]="team.name">
        {{ team.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
